{% extends 'base.html' %}
{% load static %}
{% block page_title %}{{page_title}}{% endblock page_title %}
{% block first %}
<h2 class="text-light bg-dark " style="text-align: center;">
    {{page_title}}
</h2>
 <form action="{% url 'patientmanage' %}" method='POST' enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="" id="id" name='id' />
    {{ form.as_p}}
    <div class="button">
        <input type="submit" value="Submit">
      </div>

 </form>
 
{% endblock first %}