{% load static %}
<!-- Designined by CodingLab - youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login </title>
    <link rel="stylesheet" href="{% static 'css/styleregistration.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Login</div>
    <div class="cont">
      <form action="{% url 'login'  %}" method='POST'>
        {% csrf_token %}
       
        <div class="user-details" style="margin:auto">
            
          <div class="input-box">
            <span class="details">Enter Username</span>
            {{form.username}}
          </div>

          <div class="input-box">
            <span class="details">Password</span>
           {{form.password1}}
          </div>

        </div>
     
        <div class="button">
          <input type="submit" value="Register">
       </div>
    </div>
      </form>
  


 

  </div>

</body>
</html>
