{% extends 'actions/predictionDisease.html' %}
{% load static %}

     
  <!-- 
  "pregnancies": 0,
  "glucose": 0,
  "bloodPressure": 0,
  "skinThickness": 0,
  "insulin": 0,
  "bmI": 0,
  "diabetesPedigreeFunction": 0,
  "age": 0
-->
{% block second %}
  <div class="container">
    <div class="title">Prediction Diabetes</div>
    <div class="content">
      <form action="{% url 'predictiondiabetes'  %}" method='POST'>
        {% csrf_token %}
        <div class="user-details">
          <div class="input-box">
            <span class="details">Pregnancies</span>
            <input type="number" name="pregnancies" id="pregnancies">
          </div>
          <div class="input-box">
            <span class="details">Glucose</span>
            <input type="number" name="glucose" id="glucose">
          </div>
          <div class="input-box">
            <span class="details">BloodPressure</span>
            <input type="number" name="bloodPressure" id="bloodPressure">
          </div>
          <div class="input-box">
            <span class="details">SkinThickness</span>
            <input type="number" name="skinThickness" id="skinThickness">
          </div>
          <div class="input-box">
            <span class="details">Insulin</span>
            <input type="number" name="insulin" id="insulin">
          </div>
          <div class="input-box">
            <span class="details">BMI</span>
            <input type="number" name="bmI" id="bmI">
          </div>

          <div class="input-box">
            <span class="details">DiabetesPedigreeFunction</span>
            <input type="number" name="diabetesPedigreeFunction" id="diabetesPedigreeFunction">
          </div>

          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" name="age" id="age">
          </div>

        </div>
     
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
           <center>{{result}}</center>

 

  </div>
  {% endblock second %}
 
