{% extends 'actions/predictionDisease.html' %}

{% load static %}

{% block second %}
<div class="container">
    <div class="title">Prediction Heart Disease</div>
    <div class="content">
  <form {% url 'pneumonia' %} method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="user-details">
        <div class="input-box">
            <span class="details">Description</span>
            {{form.description}}
        </div>

        <div class="input-box">
            <span class="details">Description</span>
            {{form.document}}
        </div>
    </div>
    
    <div class="button">
        <input type="submit" value="Submit">
      </div>

  </form>
 
</div>

<center>{{result}}</center>
<div>
 
{% endblock %}