{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<link rel="stylesheet" href="{% static 'css/styleactions.css' %}">
    <link rel="stylesheet" href="{% static 'css/fortest.css' %}">
    <link rel="stylesheet" href="{% static 'css/generaldisease.css' %}">
    
 
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
   
</head>
<body>

<div class="wrapper">
    <div class="sidebar">
        <h2>
            {{phone}}
        </h2>
        <ul>
            <li><a href="{% url 'prediction' %}"><i class="fas fa-home"></i>General Diseases</a></li>
            <li><a href="{% url 'predictiondiabetes' %}"><i class="fas fa-user"></i>Diabetes Diseases</a></li>
            <li><a href="{% url 'predictionheart' %}"><i class="fas fa-address-card"></i>Heart Diseases</a></li>
            <li><a href="{% url 'pneumonia' %}"><i class="fas fa-project-diagram"></i>Pneumonia Diseases</a></li>
            <li><a href="{% url 'chatbot' %}"><i class="fas fa-address-book"></i>Ask question</a></li>
            <!-- 
            <li><a href="#"><i class="fas fa-blog"></i>Blogs</a></li>
           
            <li><a href="#"><i class="fas fa-map-pin"></i>Map</a></li>
            -->
        </ul> 
          <!-- 
        <div class="social_media">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
       -->
    </div>
    <div class="main_content">
        <div class="header">
       
             Welcome to Diseases Predictions !
            
           
        </div>  
         {% block second %}
        
         {% endblock second %}
        
    </div>
</div>
 



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/general.js' %}"></script>
</body>


</html>