{% extends 'doctor/base.html' %}
{% load static %}


{% block right %}
<div class="patient-head ">
    <div class="pati card">

    <div class="pati-div1 ">
            <div>
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
            </div>
            <h4>
                Patients
            </h4>
    </div>
    <h3>25000</h3>

    </div>
    

    <div class="pati card">

        <div class="pati-div1 ">
            <div>
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
            </div>
            <h4>
                Repport
            </h4>
        </div>
        <h3>25000</h3>

    </div>

    <div class="pati card">

        <div class="pati-div1 ">
            <div>
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
            </div>
            <h4>
                Staff
            </h4>
        </div>
        <h3>25000</h3>

    </div>

    <div class="pati card">

        <div class="pati-div1 ">
            <div>
                <i class="fa fa-address-book-o" aria-hidden="true"></i>
            </div>
            <h4>
                Rooms
            </h4>
        </div>
        <h3>25000</h3>

    </div>
</div>

<table class="table ">
    <thead>
        <th>Name</th>
        <th>LastVisit</th>
        <th>Age</th>
        <th>Gender</th>
    </thead>
    <tbody>
        {% for pat  in  patient%}
        <tr>
            <td class="name-patient image">
            <img src="{{pat.image}}" alt="" srcset="">
            <span>{{pat.name}}</span>
            </td>
            <td>Sept 20,2019</td>
            <td>{{pat.age}}</td>
            <td>Male</td>
        </tr>
        {% endfor %}
  
        
    </tbody>
</table>
{% endblock right %}