{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/doctor.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     

    <title>Doctor Appointment</title>
</head>
<body>
    <div class='forform'>
    <form method="POST" actions={% url 'doctorappointment'  %} >
        {% csrf_token %}
         <p>Patients :{{form.patient}}</p>
         <p>Disease :{{form.disease}}</p>
         <p>Age :{{form.age}}</p>
         <p>Date :{{form.date}}</p>
          <input type="hidden"  name="slot" maxlength="20" required="" id="id_slot" style="user-select: auto;"/>
         <div class="slots">
          
         </div>
     
    </form>
    <button   id='slotsearch'class='btn btn-primary'>Search slots</button>
</div>
  

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/discussion.js' %}"></script>
</html>